<div class="container">
  <div class="row">
    <header>
        <h1 class="col-xs-6">{{tituloApp}}</h1>
        <div class="col-xs-6 text-right">
            <i class="glyphicon" [ngClass]="{'glyphicon-plus': !formVisible, 'glyphicon-minus': formVisible}" (click)="toggleForm()" aria-hidden="true"></i>
        </div>
        <div *ngIf="formVisible" class="form panel panel-primary col-xs-12">
              <div class="row panel-heading">Nueva factura</div>
              <form class="row panel-body">
                <div class="form-group col-xs-6">
                    <label for="numero">Número:</label>
                    <input type="text" class="form-control" [(ngModel)]="nuevaFactura.numero" id="numero" name="numero" required>
                </div>
                <div class="form-group col-xs-6">
                    <label for="base">Base:</label>
                    <input type="number" class="form-control" [(ngModel)]="nuevaFactura.base" id="base" name="base" required>
                </div>
                <div class="form-group col-xs-6">
                    <label for="iva">IVA:</label>
                    <input type="number" class="form-control" [(ngModel)]="nuevaFactura.iva" id="iva" name="iva" required>
                </div>
                <div class="form-group col-xs-6">
                    <label for="tipo">Tipo:</label>
                    <select class="form-control" id="tipo" name="tipo" [(ngModel)]="nuevaFactura.tipo">
                        <option value="ingreso">Ingreso</option>
                        <option value="gasto">Gasto</option>
                    </select>
                </div>
                <div class="form-group col-xs-6">
                    <button type="button" (click)="addFactura(nuevaFactura)" class="btn btn-primary">Añadir</button>
                </div>
                <div class="col-xs-12">
                    Estás creando una factura de tipo {{nuevaFactura.tipo}} con el número {{nuevaFactura.numero}}, una base de {{nuevaFactura.base}}€ y un IVA de {{nuevaFactura.iva}}€.
                </div>
            </form>
        </div>
    </header>
  </div>
  <div class="row">
      <div class="col-xs-6">
          <h3>Ingresos</h3>
          <div class="panel panel-default">
              <div class="panel-body">

                  <p>{{nFacturasPorTipo("ingreso")}} facturas de ingresos</p>
                  <ul class="lista-facturas lista-ingresos list-unstyled">
                      <li *ngFor="let factura of facturasPorTipo('ingreso') | ordenarFactura:'desc':'base'" class="clearfix">
                          <div class="pull-left">
                              Núm. {{factura.numero}}: {{calculaTotalFactura(factura) | number:'1.2-2'}}€ (Base {{factura.base}}€ 
                              + IVA {{calculaIva(factura.base, factura.iva) | number:'1.2-2'}}€)
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-xs-6">
          <h3>Gastos</h3>
          <div class="panel panel-default">
              <div class="panel-body">
                  <p>{{nFacturasPorTipo("gasto")}} facturas de gastos</p>
                  <ul class="lista-facturas lista-gastos list-unstyled">
                    <li *ngFor="let factura of facturasPorTipo('gasto')" class="clearfix">
                        <div class="pull-left">
                            Núm. {{factura.numero}}: {{calculaTotalFactura(factura) | number:'1.2-2'}}€ (Base {{factura.base}}€ 
                            + IVA {{calculaIva(factura.base, factura.iva) | number:'1.2-2'}}€)
                        </div>
                    </li>
                </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <footer class="col-xs-12">
          <div class="panel panel-default">
              <div class="panel-body">
                  <h3>Totales</h3>
                  <p>Total gastos:
                      <strong>{{calcularTotalFacturas().gasto.total | number:"1.2-2"}}€</strong> (Base {{total.gasto.base | number:"1.2-2"}}€ + IVA {{total.gasto.iva | number:"1.2-2"}}€)</p>
                  <p>Total ingresos:
                      <strong>{{total.ingreso.total | number:"1.2-2"}}€</strong> (Base {{total.ingreso.base | number:"1.2-2"}}€ + IVA {{total.ingreso.iva | number:"1.2-2"}}€)</p>
                  <p>Balance:
                      <span [ngClass]="{positivo: balanceFake >= 0, negativo: balanceFake < 0}">
                          <strong>{{balanceFake | number:"1.2-2"}}€</strong>
                      </span>
                  </p>
              </div>
          </div>
      </footer>
  </div>
</div>